In [23]:
import pandas as pd
import numpy as np

In [4]:
dt = pd.read_csv("train.csv")

In [5]:
dt.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [6]:
len(dt["qid1"].unique())

290654

In [7]:
len(dt["qid1"])

404290

In [11]:
len(dt["question1"].append(dt["question2"]).unique())

537362

In [14]:
len(dt["question1"].append(dt["question2"]))

808580

In [37]:
questions_df = pd.DataFrame(dt["question1"].append(dt["question2"]).unique(), columns=["questions"])

In [26]:
questions_df = questions_df.reindex(np.random.permutation(questions_df.index)).sort_index()

In [29]:
len(questions_df)*.6 # holding out 40%

322417.2

In [33]:
questions_train_df = questions_df.loc[0:322418]

NameError: name 'sort' is not defined

In [31]:
questions_test_df = questions_df.loc[322418:]

In [39]:
questions_test_df.tail(20)
questions_df.tail(20) # sorted differently than original table

                                                questions
537342  What is the cost of developing an e-commerce w...
537343            Why can my mom see my FaceTime history?
537344  Can a ligament (e.g the round the ligament of ...
537345  I am a 5th sem student pursuing computer engin...
537346                     Does Google use Elasticsearch?
537347  What are the most common questions asked in in...
537348  Why does CO2 contribute more to global warming...
537349         How do I make a safe and cheap power bank?
537350       Should I raise my young child on 80's music?
537351  What was Joseph Stalin's 5 year plan? How did ...
537352  What would happen if I put milk instead of wat...
537353  What is a utilities expense in accounting? How...
537354                   What are analytical people like?
537355  What is a cheaper and quicker way to build an ...
537356  What are some outfit ideas wear to a frat them...
537357  What will the CPU upgrade to the 2016 Apple Ma...
537358  What does Jainism say about Gays and Homosexua...
537359                                  What's this coin?
537360  I am having little hairfall problem but I want...
537361      What is it like to have sex with your cousin?

In [ ]:
import re
# Use regular expressions to do a find-and-replace
letters_only = re.sub("[^a-zA-Z]",           # The pattern to search for
                      " ",                   # The pattern to replace it with
                      example1.get_text() )  # The text to search
print letters_only

In [ ]:
lower_case = letters_only.lower()        # Convert to lower case
words = lower_case.split()               # Split into word

In [41]:
import nltk
nltk.download()  # Download text data sets, including stop words

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [44]:
from nltk.corpus import stopwords # Import the stop word list
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers', 'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', 'couldn', 'didn', 'doesn', 'hadn', 'hasn', 'haven', 'isn', 'ma', 'mightn', 'mustn', 'needn', 'shan', 'shouldn', 'wasn', 'weren', 'won', 'wouldn']